:root{

  /* Colors */

  --clr-lightRed:0, 100%, 67% ;/*hsl(0, 100%, 67%)*/
  --clr-orangeyYellow:39, 100%, 56%; /* hsl(39, 100%, 56%) */
  --clr-greenTeal:166, 100%, 37%;/* hsl(166, 100%, 37%) */
  --clr-cobaltBlue: 234, 85%, 45%;/* hsl(234, 85%, 45%) */

  /* Gradients */

  --gr-lightSlateBlue: hsl(252, 100%, 67%);
  --gr-lightRoyalBlue: hsl(241, 81%, 54%);

  --gr-violetBlue: hsla(256, 72%, 46%, 1);
  --gr-persianBlue: hsla(241, 72%, 46%, 0);

  /* Neutrals */

  --clr-white: hsl(0, 0%, 100%);
  --clr-paleBlue: hsl(221, 100%, 96%);
  --clr-lightLavender: hsl(241, 100%, 89%);
  --clr-darkGrayBlue: 224, 30%, 27%;/* hsl(224, 30%, 27%) */

  /* Fonts */

  --fs-p:1.125rem;

  --fw-medium: 500;
  --fw-bold: 700;
  --fw-extraBold: 800;
}

@font-face {
  font-family: 'Hanken Grotesk';
  src: url(assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
  font-weight: 500, 700, 900;
  font-style: normal;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Hanken Grotesk', sans-serif;
  background-color: var(--clr-paleBlue);
}
/* ////////// */
/*   General  */
/* ////////// */

.flex{
  display: flex;
}


/* ////////// */
/*  Container */
/* ////////// */


.container{
  margin:auto;
  max-width: 740px;
  min-height: 100vh;
  align-items: center;

}

.grid_container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  background-color: white;
  border-radius: 32px;  
  margin-inline: 1rem;
  box-shadow: 0 10px 50px  hsla(224, 82%, 58%, 15%);
}

.grid_item{
  padding: 2.25rem 3.5rem;
  flex-direction: column;
  gap: 1rem;
}
.grid_purple{
  align-items: center;
  background-image: linear-gradient(var(--gr-lightSlateBlue)0%,hsl(252,100%,63%) 0%, var(--gr-lightRoyalBlue)100%);
  border-radius: 32px;
  gap: 2rem;
}
.grid_item--right{
  padding: 2.5rem 2.5rem;
}
.score_container{
  width: 200px;
  height: 200px;
  background-image: linear-gradient(var(--gr-violetBlue), var(--gr-persianBlue)100%);
  border-radius: 5000px;
  justify-content: center;
  align-items: center;
}
.text_container{
  text-align: center;
}
.skill_container{
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-radius: 12px;
  width: 100%;
}
/* ////////// */
/*  Styling */
/* ////////// */


.skill_red{
  background-color: hsl(var(--clr-lightRed), 10%);
}
.skill_yellow{
  background-color: hsl(var(--clr-orangeyYellow),10%);
}
.skill_green{
  background-color: hsl(var(--clr-greenTeal),10%);
}
.skill_blue{
  background-color: hsl(var(--clr-cobaltBlue),10%);
  margin-bottom: calc(2.563rem - 1rem);
}
.btn{
  background-color: hsl(var(--clr-darkGrayBlue));
  border-radius: 128px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  padding: 1rem 2rem;
  cursor: pointer;
  border: 0;
}
.btn:hover, .btn:focus{
  background-image: linear-gradient(var(--gr-lightSlateBlue)0%,hsl(252,100%,63%) 0%, var(--gr-lightRoyalBlue)100%);  
}

/* ////////// */
/*    Text    */
/* ////////// */
.header{
  font-size: 1.5rem;
  color: var(--clr-lightLavender);
  
}
.header_black{
  font-size: 1.5rem;
  color: var(--clr-darkGrayBlue);
  margin-bottom: .75rem;
}
.score{
  border-radius: 500px;
  font-size: var(--fs-p);
  font-weight: var(--fw-bold);
  color: var(--clr-lightLavender);
  flex-direction: column;
  align-items: center;
  
}
.score span{
  font-size: 4.5rem;
  color: var(--clr-white);
  
}
.sub_header{
  font-size: 2rem;
  color: white; 
  margin-bottom: .75rem;
}
.text{
  font-size: var(--fs-p);
  color:var(--clr-lightLavender);
  text-align: center;
}

.skill_text{
  gap: 1rem;
  font-size: 1.125rem;
  font-weight: bold;
}
.text_red{
  color: hsl(var(--clr-lightRed));
}
.text_yellow{
  color: hsl(var(--clr-orangeyYellow));
}
.text_green{
  color: hsl(var(--clr-greenTeal));
}
.text_blue{
  color:hsl(var(--clr-cobaltBlue))
}

.points{
  color: hsl(var(--clr-darkGrayBlue), 50%);
  font-weight: bold;
  font-size:1.125rem;
}
.points span{
  color: hsl(var(--clr-darkGrayBlue));
  font-weight: bold;
  margin-right: .25rem;
}

/* ////////// */
/*    Footer  */
/* ////////// */

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}


/* ///////////////// */
/*    Media queries  */
/* ///////////////// */


@media (max-width: 43.125em){
  .grid_container{
    grid-template-columns: 1fr;
    margin-inline: 0;
  }
  .grid_purple{
    border-radius: 0 0 32px 32px;
  }
  .grid_item--right{
    padding: 2.5rem 1.875rem;
  }
}

